.inputs__ {
  &auth {
      border-radius: 10px;
    border: none;
    outline: none;
    height: 100%;
    width: calc(100% - 1rem);
    min-width: 250px;
    min-height: 50px;
    transition: all 0.4s;
    background-color: darken($color: $primary, $amount: 7);
    background-image: linear-gradient($secondary, $secondary);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    padding-left: 1rem;
    
    &:focus, 
    &:hover,
    &:active {
        background-size: 100% 0.1em;
        &::placeholder{
            opacity: .7;
        }
        background-color: transparent;
        border-radius: 0;
    }
    
    &::placeholder{
        color: $secondary;
        opacity: 1;
    }
  }
}
