@font-face {
  font-family: 'Roboto';
  src: url('../../assets/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('../../assets/RobotoSlab-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@mixin themable($theme-name, $fsize, $lheight, $fontFamily, $color) {
  .#{$theme-name} {
    font-size: $fsize;
    line-height: $lheight;
    font-family: $fontFamily;
    color: $color;
  }
}

.bold{
    font-weight: bold;
}


@include themable(defaultFont, 1rem, 1rem, Roboto, $secondary)